doctype 5
html
  head
    meta charset="utf-8"
    meta name="viewport" content="width=device-width, initial-scale=1"
    meta name="generator" content="Webflow"
    meta http-equiv="x-ua-compatible" content="ie=edge"
    title Return Project
    meta name="robots" content="index, follow"
    meta name="googlebot" content="index, follow, all"
    link[rel="shortcut icon" href="/favicon.ico"]
    link[rel="apple-touch-icon" href="/return.jpg"]
    link[rel="stylesheet" href="/style.css"]
    script[src="js/modernizr.js"]

  body
    div
      .w-container
        img.logo alt="Return Logo" data-ix="logo-appearing" src="images/return-logo.png"
    .footer data-ix="footer-appearing"
      a.social-link href="https://www.facebook.com/returnprojectsurf" facebook.
      a.social-link href="http://instagram.com/returnprojectsurf" instagram.
      a.social-link href="http://vimeo.com/returnprojectsurf" vimeo.
      a.footer-link href="mailto:contato@returnproject.cc?subject=Hello%20from%20return%20project%20website" target="_blank" contato@returnproject.cc
    .content data-ix="content-appearing"
      p Learn more about this project...
      a.pdf-links href="https://dl.dropboxusercontent.com/u/8567330/return-project-web.pdf" target="_blank" Eng
      a.pdf-links href="https://dl.dropboxusercontent.com/u/8567330/return-project-web.pdf" target="_blank" Por
    script[src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"]
    script[src="js/webflow.js"]